<table style="margin: 1em 0;overflow: hidden;background: #FFF;color: #024457;border-radius: 10px;border: 1px solid #167F92;">
  
    <tr style="border: 1px solid #D9E4E6;">
      <th style="display: table-cell;
      text-align: center;border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;">Main driver</th>
      <th style="display: table-cell;
      text-align: center;border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;">Relationship</th>
    </tr>
    
    <tr style="border: 1px solid #D9E4E6;">
      <td style="word-wrap: break-word;
      max-width: 7em;">Steve</td>
      <td style="word-wrap: break-word;
      max-width: 7em;">Policyholder</td>
    </tr>
    
    <tr style="border: 1px solid #D9E4E6;background-color: #EAF3F3;">
      <td style="word-wrap: break-word;
      max-width: 7em;">Steffie</td>
      <td style="word-wrap: break-word;
      max-width: 7em;">Spouse</td>
    </tr>

  </table>

  <table style="margin: 1em 0; overflow: hidden; background: #FFF;color: #024457;border-radius: 10px;border: 1px solid #167F92;">
    <tr style="border: 1px solid #D9E4E6;">
    <th style="display: table-cell;text-align: center; border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;">Nb Errors</th>
    <th style="display: table-cell;text-align: center; border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;">Nb Lines</th>
    <th style="display: table-cell;text-align: center; border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;">FailureRate</th>
    <th style="display: table-cell;text-align: center; border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;">Threshold</th>
    </tr>
    <tr style="border: 1px solid #D9E4E6;">
    <td style="word-wrap: break-word;max-width: 7em;">0</td>
    <td style="word-wrap: break-word;max-width: 7em;">41</td>
    <td style="word-wrap: break-word;max-width: 7em;">0.00%</td>
    <td style="word-wrap: break-word;max-width: 7em;">OK</td>
    </tr></table>

